:root{
    --pri: rgb(13, 16, 29);
    --sec: rgb(21, 23, 44);
    --ter: rgb(189, 195, 223);
    --qua: rgb(34, 37, 78);
    --qui: rgb(29, 31, 80);

    --giant-font: 2.5em;
    --big-font: 1.5em;
    --med-font: 1em;
    --small-font: 0.8em;
}

[theme="dark"]{
    --pri: rgb(13, 16, 29);
    --sec: rgb(21, 23, 44);
    --ter: rgb(178, 191, 255);
    --qua: rgb(34, 37, 78);
    --qui: rgb(29, 31, 80);
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--ter);
    background-color: var(--pri);
}
input, button{
    font-family: inherit;
}
button{
    cursor: pointer;
    background-color: var(--ter);
    color: var(--sec);
    border-radius: 0.2em;
    border: none;
    padding: 0.2em 0.5em;
    font-size: var(--med-font);
    font-weight: 600;
}
a{
    color: inherit;
    text-decoration: none;
    width: max-content;
    display: flex;
    gap: 0.5em;
    align-items: center;
}
h1, h2, h3, h4, h5, p{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.github-icon{
    width: 2em;
    height: auto;
}
header{
    margin: 0;
    background-color: var(--sec);
    border-bottom: 0.1em solid var(--qua);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 1em;
    gap: 1em;
    position: sticky;
    top: 0;
    left: 0;
}
header h1{
    font-size: var(--big-font);
}
.box{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    display: flex;
    border-radius: 0.2em;
    gap: 1em;
    padding: 2em;
}
.main{
    flex-direction: column;
    align-items: center;
    background-color: var(--sec);
    text-align: center;
}
.search-menu{
    gap: 1em;
    justify-content: center;
    width: 20em;
    aspect-ratio: 1 / 1;
    border: 0.1em solid var(--qua);
}
.search-menu h2{
    font-size: var(--giant-font);
}
.search-menu p{
    font-size: var(--big-font);
}
form{
    display: flex;
    gap: 0.5em;
}
form input{
    outline: none;
    color: var(--ter);
    background-color: var(--qui);
    padding: 0.2em, 0.5em;
    border: none;
    font-size: var(--med-font);
}
.skeleton, .card{
    gap: 2em;
    background-color: var(--sec);
    flex-direction: column;
    width: 20em;
    height: 20em;
    justify-content: center;
    border: 0.1em solid var(--qua);
}
.profile-main{
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
}
img{
    background-color: var(--qua);
    width: 5em;
    aspect-ratio: 1/ 1;
    border-radius: 10em;
}
.skeleton .placeholder-img{
    text-wrap-mode: nowrap;
    font-size: var(--giant-font);
    visibility: hidden;
    position: relative;
}
.skeleton .profile-main h2{
    background-color: var(--qua);
    width: 9em;
    height: 2em;
    border-radius: 0.4em;
    text-align: center;
}
.skeleton h2{
    background-color: transparent;
    min-width: max-content;
    text-align: start;
    position: relative;
    font-size: var(--big-font);
}
.skeleton p{
    font-size: var(--med-font);
    height: 10em;
    position: relative;
}
.skeleton h2::after,
.skeleton p::after,
.skeleton .placeholder-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--qua);
    border-radius: 0.4em;
    visibility: visible;
}
.skeleton .placeholder-img::after{
    border-radius: 10em;
    height: auto;
    aspect-ratio: 1 / 1;
}
.card h2{
    font-size: var(--big-font);
    max-width: 18em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card p{
    font-size: var(--med-font);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 18em;
}
.buttons{
    display: flex;
    gap: 1em;
}
.profile{
    border: 0.1em solid var(--qua);
    width: fit-content;
    height: fit-content;
    background-color: var(--sec);
    margin: 1em;
    flex-direction: column;
    justify-self: center;
    gap: 1em;
}
.profile-header{
    display: flex;
    align-items: center;
    gap: 5em;
    flex-wrap: wrap;
}
.profile-header div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}
.profile h2{
    font-size: var(--giant-font);
    width: fit-content;
}
.profile h3{
    font-size: var(--med-font);
    font-weight: 500;
}
.profile p{
    max-width: 45em;
    font-size: var(--med-font);
}
.info{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.details{
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em;
    max-width: 40em;
}
.details span{
    display: flex;
    justify-content: space-between;
    border-radius: 0.2em;
    background-color: var(--qua);
    padding: 0.2em 0.5em;
}

.repo-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.repo-container h2{
    font-size: var(--giant-font);
}
.repos{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1em;
}
.repo{
    background-color: var(--sec);
    border-radius: 0.2em;
    border: 0.1em solid var(--qua);
    padding: 1em 1.5em;
    display: flex;
    width: min(40em, 80%);
    flex-direction: column;
    gap: 1em;
}
.repo .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}
.repo h3{
    font-size: var(--giant-font);
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}
.repo h4{
    font-size: var(--med-font);   
    font-weight: 200;
}
.icons{
    display: flex;
    gap: 1em;
}
.icons span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: var(--med-font);
}

.settings-container{
    width: min(30em, 80vw);
    margin: 2em auto;
    gap: 5em;
}
.settings{
    display: flex;
}
.settings-container h2{
    font-size: var(--giant-font);
}
.settings h3{
    font-size: var(--big-font);
}
.settings span{
    display: flex;
    gap: 5em;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.theme-selector{
    background-color: var(--qua);
    border-radius: 0.4em;
    padding: 1.4em;
    gap: 1.4em;
    flex-direction: column;
    position: absolute;
    top: 90%;
    left: 58%;
}
.theme-selector button{
    font-size: var(--big-font);
}

@media(max-width: 847px){
    .box{
        flex-direction: column;
    }
    .skeleton, .card{
        height: fit-content;
        gap: 1.5em;
    }
}

@media(max-width: 500px){
    :root{
        --giant-font: 8vw;
        --big-font: 5vw;
        --med-font: 3vw;
        --small-font: 2.5vw;
    }
    .container{
        padding: 7vw;
    }
        header{
        width: auto;
    }
        .container{
        width: 70vw;
    }
}
@media(max-width: 447px){

}